<!-- header.component.html -->

<header id="header">
  <a class="home-link" routerLink="/news/1">
    <img class="logo" src="https://i.imgur.com/7j6zeHj.jpeg" />
  </a>
  <div class="header-text">
    <div class="left">
      <h1 class="name">
        <a routerLink="/news/1">Morty's Hacker News</a>
      </h1>
      <span class="header-nav">
        <a routerLink="/news/1">Top</a>
        <span class="divider"> | </span>
        <a routerLink="/newest/1">New</a>
        <span class="divider"> | </span>
        <a href="/best/1">Best</a>
        <span class="divider"> | </span>
        <a href="/ask/1">Ask</a>
        <span class="divider"> | </span>
        <a href="/show/1">Show</a>
        <span class="divider"> | </span>
        <a href="/jobs/1">Job</a>
      </span>
    </div>
    <div class="info">"Oh jeez Rick, its the news!"</div>
  </div>
</header>
