<!-- header.component.html -->

<header id="header">
  <a class="home-link" href="/">
    <img class="logo" src="https://i.imgur.com/7j6zeHj.jpeg" />
  </a>
  <div class="header-text">
    <div class="left">
      <h1 class="name">
        <a href="/">Morty's News</a>
      </h1>
      <span class="header-nav">
        <a href="">General</a>
        <span class="divider"> | </span>
        <a href="">Python</a>
        <span class="divider"> | </span>
        <a href="">Go</a>
        <span class="divider"> | </span>
        <a href="">C++</a>
        <span class="divider"> | </span>
        <a href="">Angular</a>
      </span>
    </div>
    <div class="info">"Oh jeez, Rick, its the news!"</div>
  </div>
</header>
